<div class="layout-style">
  <app-navbar></app-navbar>
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="allText bottomText">
        <p class="text-blk subHeadingText">{{ title }}</p>
        <p class="text-blk description">
          {{ description }}
        </p>
        <a [routerLink]="['/booking']" class="btn btn-primary mt-3" aria-label="Learn More about our services">Book Now</a>
      </div>
      <div class="videoContainer">
        <iframe
          allowfullscreen="allowfullscreen"
          class="mainVideo"
          controls="controls"
          src="https://www.youtube.com/embed/BiEloES-sqQ"
        >
        </iframe>
        <img
          class="dotsImg image-block"
          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
        />
      </div>
    </div>
  </div>
  <app-footer> </app-footer>
</div>
