    <div class="container mt-5" id="container" #container>
        <div class="form-container sign-in-container">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <h1>Create Account</h1>
                <div class="social-container">
                  <a href="#" class="social-button facebook"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social-button google"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="social-button linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Full Name" formControlName="fullName" />
                <app-validation-message [formGroup]="registrationForm" controlName="fullName"></app-validation-message>

                <input type="email" placeholder="Email" formControlName="email" />
                <app-validation-message [formGroup]="registrationForm" controlName="email"></app-validation-message>
            
                <input type="password" placeholder="Password" formControlName="password" />
                <app-validation-message [formGroup]="registrationForm" controlName="password"></app-validation-message>
                
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                <app-validation-message [formGroup]="registrationForm" controlName="confirmPassword"></app-validation-message>
                
                <button type="submit" [disabled]="registrationForm.invalid">Sign Up</button>
              </form>
        </div>    
    
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button (click)="goToLogin()" class="ghost" id="signUp" #signUpButton>Sign In</button>
        </div>
      </div>
    </div>
  </div>
  
