<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="layout-style">
  <div class="container mt-5">
    <h2 class="text-center mb-4">{{header}}</h2>
    <div class="booking-form">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email">
      <app-validation-message [formGroup]="bookingForm" controlName="email"></app-validation-message>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" class="form-control" formControlName="phoneNumber">
      <app-validation-message [formGroup]="bookingForm" controlName="phoneNumber"></app-validation-message>
    </div>

    <div class="form-group">
      <label for="eventDate">Event Date</label>
      <input type="date" class="form-control" formControlName="eventDate">
      <app-validation-message [formGroup]="bookingForm" controlName="eventDate"></app-validation-message>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" formControlName="location">
      <app-validation-message [formGroup]="bookingForm" controlName="location"></app-validation-message>
    </div>

    <div class="form-group">
      <label for="numberOfGuests">Number of Guests</label>
      <input type="number" class="form-control" formControlName="numberOfGuests">
      <app-validation-message [formGroup]="bookingForm" controlName="numberOfGuests"></app-validation-message>
    </div>

    <div class="form-group">
      <label for="iceCreamPreferences">Ice Cream Preferences</label>
      <textarea class="form-control" formControlName="iceCreamPreferences"></textarea>
      <app-validation-message [formGroup]="bookingForm" controlName="iceCreamPreferences"></app-validation-message>
    </div>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-submit" [disabled]="bookingForm.invalid">Save Booking</button>
      <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
</form>