<p-toast position="bottom-right"></p-toast>
<div class="container mt-5" id="container">
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
      <h2>Reset Password</h2>
      <p class="subtitle">Enter your new password</p>
      <input type="password" formControlName="newPassword" placeholder="New Password" />
      <app-validation-message [formGroup]="resetForm" controlName="newPassword"></app-validation-message>
      <button [disabled]="resetForm.invalid" type="submit">RESET PASSWORD</button>
    </form>
  </div>
</div>
