<nav class="icecream-navbar">
    <div class="navbar-brand">
      <a routerLink="/dashboard" class="logo-link">
        <img src="../../../assets/images/ice-cream-cover.jpg" alt="Icecream Dashboard" class="logo">
        <span class="app-name">IceCream Booking Client</span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <ul class="nav-links">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/flavors" routerLinkActive="active">
            <i class="fas fa-ice-cream"></i> Flavors
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/cart" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/customers" routerLinkActive="active">
            <i class="fas fa-users"></i> Customers
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reports" routerLinkActive="active">
            <i class="fas fa-chart-pie"></i> Reports
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item user-dropdown dropdown" >
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="environment+'/'+currentUser()?.userImgProfile || '../../../assets/images/default-user.avif'" alt="User" class="user-avatar">
            <span class="user-fullname">{{ currentUser()?.fullName }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" [routerLink]="['user-profile']"><i class="fas fa-user me-2"></i>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['auth/login']"  (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  
    <div 
    class="mobile-menu-toggle" 
    (click)="toggleMobileMenu()" 
    (keyup.enter)="toggleMobileMenu()"
    tabindex="0" 
    role="button"
  >
    <i class="fas" [class.fa-bars]="!isMobileMenuOpen" [class.fa-times]="isMobileMenuOpen"></i>
  </div>
  </nav>